[project]
	description = sample webcode
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/bhattacharjeesantanoo (bhattacharjeesantanoo)
[access "refs/for/refs/*"]
	read = group user/bhattacharjeesantanoo (bhattacharjeesantanoo)
	push = group user/bhattacharjeesantanoo (bhattacharjeesantanoo)
	label-Code-Review = -2..+2 group user/bhattacharjeesantanoo (bhattacharjeesantanoo)
	label-Verified = -1..+1 group user/bhattacharjeesantanoo (bhattacharjeesantanoo)
	rebase = group user/bhattacharjeesantanoo (bhattacharjeesantanoo)
	removeReviewer = group user/bhattacharjeesantanoo (bhattacharjeesantanoo)
	submit = group user/bhattacharjeesantanoo (bhattacharjeesantanoo)
[access "refs/heads/*"]
	read = group user/bhattacharjeesantanoo (bhattacharjeesantanoo)
	create = group user/bhattacharjeesantanoo (bhattacharjeesantanoo)
	push = +force group user/bhattacharjeesantanoo (bhattacharjeesantanoo)
	pushMerge = group user/bhattacharjeesantanoo (bhattacharjeesantanoo)
[access "refs/tags/*"]
	push = group user/bhattacharjeesantanoo (bhattacharjeesantanoo)
	push = +force group user/bhattacharjeesantanoo (bhattacharjeesantanoo)
